h1#main-title Live Project
= link_to "Sign In", new_user_session_path, class:  "sub-title"
br
br
= link_to "Sign Up", new_user_registration_path, class: "sub-title"
h3 data-toggle="modal" data-target="#sign-up-form" modal sign up