// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Raleway);
@import 'bootstrap';

.brand-title {
  padding-left: 1%;
  margin-top: 1%;
  vertical-align: middle;
}

#main-title {
  font-family: 'Raleway', sans-serif;
  color: white;
  margin-left: 35%;
  margin-top: 12%;
  font-size: 10em;
}

.sub-title {
  font-family: 'Raleway', sans-serif;
  color: white;
  margin-left: 75%;
  margin-top: 10px  ;
  font-size: 1.5em;

  &.bump-over {
    margin-left: 88%;
  }
}

.weak-header {
  display: inline;
}

.btn-space {
  margin-left: 2px;
}

.js-link {
  color: $brand-primary;

  &:hover {
    background-color: $brand-primary;
    color: #fff;
    cursor: pointer;
  }
}

////
//Code for pullout nav buttons
////

.btn-hider {
  position: fixed;
  background: #fff;
  
  text-align: middle;
  font-color: #fff;
  font-size: 1em;


  &.task-hider{
    right: 0px;
    bottom: 99px;
    height: 5em;
    width: 2em;
  }
  &.chat-hider{
    bottom: 0px;
    right: 99px;
    height: 2em;
    width: 5em;
  }
  &.min-all {
    bottom: 0px;
    right: 0px;
    height: 2em;
    width: 2em;
  }

.oauther {
  width: 100%;
  height: auto;
  max-width: 40px;
  // max-height: auto;
}   
    
}

.devise-form {
  background-color: #fff;
  padding: 0% 10% 5% 10%;
}

