body {
  background-image: asset-data-url("wood_background.jpg");
  background-size: cover;
}
#main-contain {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}
.content-contain {
  display: flex;
  flex-direction: row;
  flex: 3;
  // height: 90%;
  // width: 100%;
  // background-color: #FF9966;
  justify-content: center;
  padding: 2% 3% 2% 3%;
}
#main-box {
  overflow-y: scroll;
  // height: 100%;
  width: 60%;
  padding: 1%;
}

#right-box {
  overflow-y: scroll;
  // height: 100%;
  // width: 30%;
  padding: 1%;
}
.chat-contain {
  display: none;
  flex: 1;
  background: #ccc;

  &.active {
    display: flex;
  }
}


.liner {
  background-color: white;
}

.header {
  height: 10%;
  background-color: white;
}