h3.weak-header All Tasks for #{project.title}
= link_to "", new_project_task_path(project), class: "btn btn-default glyphicon glyphicon-plus pull-right"
br
br
- @tasks.each do |task|
  h4= link_to task.title, project_task_path(project, task)
  hr
